.users {
    background-color: #fff;
    border-radius: 15px;
    width: 100%; 
    height: auto;
  margin-top: 20px;
  }
  .disp{
      display: flex;
      justify-content: space-between;
  }
  .gmap{
      color: red;
      font-size: 30px;
     margin: auto;
  }
  @media  (max-width: 111px){
.disp{
    display: inline-block;
}
}