body{
    background-color: #daeefc;
}
/* .view{
    margin: 20px;
    margin-left: 350px;
    position: fixed;
    height: 575px;
    border-radius: 25px;
    background-color: white;
    width: 1010px;
} */